# Scraping Example

In [1]:
import os
import pandas as pd
import re

# Webscraping tools
from bs4 import BeautifulSoup
import urllib
import requests
from urllib.request import urlopen
import csv

In [2]:
url = 'https://finance.yahoo.com/quote/AAPL/financials?p=AAPL'
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'html.parser')

In [3]:
features = soup.find_all('div', class_='D(tbr)')

In [4]:
headers= []
temp_list = []
label_list = []
final = []
index = 0

# Create headers
for item in features[0].find_all('div', class_='D(ib)'):
    headers.append(item.text)
    
# statement contents
while index <= len(features)-1:
    #filter for each line of the statement
    temp = features[index].find_all('div', class_='D(tbc)')
    for line in temp:
        #each item adding to a temporary list
        temp_list.append(line.text)
    # temp_list added to final list
    final.append(temp_list)
    #clear temp_list
    temp_list = []
    index+=1
    
df = pd.DataFrame(final[1:])
df.columns = headers

In [5]:
df

,Breakdown,ttm,9/30/2019,9/30/2018,9/30/2017,9/30/2016
0,Total Revenue,"267,981,000","260,174,000","265,595,000","229,234,000","215,639,000"
1,Cost of Revenue,"165,854,000","161,782,000","163,756,000","141,048,000","131,376,000"
2,Gross Profit,"102,127,000","98,392,000","101,839,000","88,186,000","84,263,000"
3,Operating Expense,"36,536,000","34,462,000","30,941,000","26,842,000","24,239,000"
4,Operating Income,"65,591,000","63,930,000","70,898,000","61,344,000","60,024,000"
5,Net Non Operating Interest Income Expense,"1,172,000","1,385,000","2,446,000","2,878,000","2,543,000"
6,Other Income Expense,"328,000","422,000","-441,000","-133,000","-1,195,000"
7,Pretax Income,"67,091,000","65,737,000","72,903,000","64,089,000","61,372,000"
8,Tax Provision,"9,876,000","10,481,000","13,372,000","15,738,000","15,685,000"
9,Net Income Common Stockholders,"57,215,000","55,256,000","59,531,000","48,351,000","45,687,000"
10,Diluted NI Available to Com Stockholders,"57,215,000","55,256,000","59,531,000","48,351,000","45,687,000"
11,Basic EPS,-,0.012,0.012,0.0093,0.0084
12,Diluted EPS,-,0.0119,0.0119,0.0092,0.0083
13,Basic Average Shares,-,"4,617,834","4,955,377","5,217,242","5,470,820"
14,Diluted Average Shares,-,"4,648,913","5,000,109","5,251,692","5,500,281"
15,Total Operating Income as Reported,"65,591,000","63,930,000","70,898,000","61,344,000","60,024,000"
16,Total Expenses,"202,390,000","196,244,000","194,697,000","167,890,000","155,615,000"
17,Net Income from Continuing & Discontinued Oper...,"57,215,000","55,256,000","59,531,000","48,351,000","45,687,000"
18,Normalized Income,"57,215,000","55,256,000","59,531,000","48,351,000","45,687,000"
19,Interest Income,"4,390,000","4,961,000","5,686,000","5,201,000","3,999,000"
20,Interest Expense,"3,218,000","3,576,000","3,240,000","2,323,000","1,456,000"
21,Net Interest Income,"1,172,000","1,385,000","2,446,000","2,878,000","2,543,000"
22,EBIT,"70,309,000","69,313,000","76,143,000","66,412,000","62,828,000"
23,EBITDA,"82,023,000",-,-,-,-
24,Reconciled Cost of Revenue,"165,854,000","161,782,000","163,756,000","141,048,000","131,376,000"
25,Reconciled Depreciation,"11,714,000","12,547,000","10,903,000","10,157,000","10,505,000"
26,Net Income from Continuing Operation Net Minor...,"57,215,000","55,256,000","59,531,000","48,351,000","45,687,000"
27,Normalized EBITDA,"82,023,000","81,860,000","87,046,000","76,569,000","73,333,000"
28,Tax Rate for Calcs,0,0,0,0,0
29,Tax Effect of Unusual Items,0,0,0,0,0

# Stock Data

In [4]:
tickers = ['MSFT',
'AAPL',
'AMZN',
'FB',
'GOOGL',
'GOOG',
'JNJ',
'V',
'PG',
'JPM',
'UNH',
'INTC',
'HD',
'MA',
'VZ',
'T',
'PFE',
'MRK',
'NFLX',
'LLY',
'MDT',
'ABBV',
'ACN',
'ORCL',
'PM',
'NKE',
'IBM',
'NEE',
'UNP',
'AMT',
'TXN',
'DHR',
'AVGO',
'WFC',
'GILD',
'LIN',
'HON',
'LMT',
'C',
'QCOM',
'SBUX',
'RTX',
'LOW',
'MMM',
'FIS',
'CHTR',
'CVS',
'MDLZ',
'INTU',
'SPGI',
'BDX',
'VRTX',
'NOW',
'ANTM',
'CI',
'MO',
'BA',
'UPS',
'CCI',
'PLD',
'D',
'AGN',
'ADP',
'CME',
'AMD',
'FISV',
'SYK',
'ZTS',
'CAT',
'ISRG',
'DUK',
'EQIX',
'CL',
'TJX',
'BKNG',
'TGT',
'BLK',
'GS',
'AXP',
'SO']

# Financial Statements

In [ ]:
# Change directory
os.chdir(r"C:\Users\Ryan\Desktop\UCI\Spring Quarter\NLP\Final Project\Financial Statements")

# iterate over ticker list and scrape financial data
for tick in tickers:
    url = f"https://finance.yahoo.com/quote/{tick}/financials?p={tick}"
    print(url)
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page, 'html.parser')
    
    features = soup.find_all('div', class_='D(tbr)')
    
    headers= []
    temp_list = []
    label_list = []
    final = []
    index = 0

    # Create headers
    for item in features[0].find_all('div', class_='D(ib)'):
        headers.append(item.text)

    # statement contents
    while index <= len(features)-1:
        #filter for each line of the statement
        temp = features[index].find_all('div', class_='D(tbc)')
        for line in temp:
            #each item adding to a temporary list
            temp_list.append(line.text)
        # temp_list added to final list
        final.append(temp_list)
        #clear temp_list
        temp_list = []
        index+=1

    df = pd.DataFrame(final[1:])
    df.columns = headers
    
    # Save to csv
    df.to_csv(f"{tick}_Financial_Statement.csv", index = None, header = True)

https://finance.yahoo.com/quote/MSFT/financials?p=MSFT
https://finance.yahoo.com/quote/AAPL/financials?p=AAPL
https://finance.yahoo.com/quote/AMZN/financials?p=AMZN
https://finance.yahoo.com/quote/FB/financials?p=FB
https://finance.yahoo.com/quote/GOOGL/financials?p=GOOGL
https://finance.yahoo.com/quote/GOOG/financials?p=GOOG
https://finance.yahoo.com/quote/JNJ/financials?p=JNJ
https://finance.yahoo.com/quote/V/financials?p=V
https://finance.yahoo.com/quote/PG/financials?p=PG
https://finance.yahoo.com/quote/JPM/financials?p=JPM
https://finance.yahoo.com/quote/UNH/financials?p=UNH
https://finance.yahoo.com/quote/INTC/financials?p=INTC
https://finance.yahoo.com/quote/HD/financials?p=HD
https://finance.yahoo.com/quote/MA/financials?p=MA
https://finance.yahoo.com/quote/VZ/financials?p=VZ
https://finance.yahoo.com/quote/T/financials?p=T
https://finance.yahoo.com/quote/PFE/financials?p=PFE
https://finance.yahoo.com/quote/MRK/financials?p=MRK
https://finance.yahoo.com/quote/NFLX/financials?p=NFLX

# Stock

In [5]:
from pandas_datareader import data, wb
import datetime

In [6]:
start = datetime.datetime(2017,1,1)
end = datetime.datetime(2020,5,13)
stock = data.DataReader(tickers, 'yahoo', start, end)

In [7]:
stock

Attributes   Adj Close                                                    \
Symbols           MSFT        AAPL         AMZN          FB        GOOGL
Date
2017-01-03   58.969059  110.392334   753.669983  116.860001   808.010010
2017-01-04   58.705212  110.268791   757.179993  118.690002   807.770020
2017-01-05   58.705212  110.829552   780.450012  120.669998   813.020020
2017-01-06   59.214054  112.065109   795.989990  123.410004   825.210022
2017-01-09   59.025597  113.091560   796.919983  124.900002   827.179993
...                ...         ...          ...         ...          ...
2020-05-07  183.090088  302.919983  2367.610107  211.259995  1369.280029
2020-05-08  184.167068  310.130005  2379.610107  212.350006  1384.339966
2020-05-11  186.221359  315.010010  2409.000000  213.179993  1403.589966
2020-05-12  182.003098  311.410004  2356.949951  210.100006  1375.180054
2020-05-13  179.250778  307.649994  2367.919922  205.100006  1348.329956

Attributes                                                              ...  \
Symbols            GOOG         JNJ           V          PG        JPM  ...
Date                                                                    ...
2017-01-03   786.140015  106.233673   77.675957   75.750793  79.052376  ...
2017-01-04   786.900024  106.059433   78.311043   76.020676  79.198174  ...
2017-01-05   794.020020  107.169075   79.229477   76.524467  78.469170  ...
2017-01-06   806.150024  106.655518   80.323792   76.497482  78.478271  ...
2017-01-09   806.650024  106.637184   79.874336   75.930710  78.532944  ...
...                 ...         ...         ...         ...        ...  ...
2020-05-07  1372.560059  147.589996  182.414566  112.169998  91.209999  ...
2020-05-08  1388.369995  148.699997  184.780594  115.949997  92.699997  ...
2020-05-11  1403.260010  149.110001  183.253159  115.309998  89.970001  ...
2020-05-12  1375.739990  147.139999  179.169998  114.550003  87.029999  ...
2020-05-13  1349.329956  147.130005  177.089996  113.919998  84.029999  ...

Attributes     Volume                                                         \
Symbols           DUK       EQIX         CL         TJX      BKNG        TGT
Date
2017-01-03  2905900.0   411500.0  3038900.0   7643000.0  458500.0  3907100.0
2017-01-04  2531100.0   644300.0  4047900.0   6695400.0  387700.0  5316200.0
2017-01-05  3284600.0   492900.0  2857800.0   9958600.0  447500.0  7096300.0
2017-01-06  3132200.0   458400.0  2994800.0   6947400.0  473400.0  5235100.0
2017-01-09  4585700.0   568300.0  3184000.0   6437600.0  397500.0  3814300.0
...               ...        ...        ...         ...       ...        ...
2020-05-07  3426400.0   663100.0  3985800.0   9375000.0  654800.0  3689800.0
2020-05-08  2875200.0   439400.0  3938600.0   5587100.0  877400.0  4267400.0
2020-05-11  3924200.0   558900.0  2797200.0   6726100.0  564700.0  5996300.0
2020-05-12  3524700.0  1527300.0  3961400.0   6713700.0  506900.0  4897000.0
2020-05-13  3998300.0  1572000.0  3864200.0  14312400.0  780900.0  4677900.0

Attributes
Symbols           BLK         GS         AXP         SO
Date
2017-01-03   743900.0  4384200.0   5853900.0  3974400.0
2017-01-04   680800.0  2728700.0   4635800.0  3864000.0
2017-01-05   468400.0  3562600.0   3383000.0  4844400.0
2017-01-06   453400.0  3591100.0   3089600.0  4800200.0
2017-01-09   505300.0  3022800.0   4818700.0  4271400.0
...               ...        ...         ...        ...
2020-05-07   537100.0  2480100.0   4627600.0  4697700.0
2020-05-08   450500.0  2282600.0   3917200.0  4349200.0
2020-05-11   699600.0  2212200.0   5917600.0  6946800.0
2020-05-12  3499000.0  3549200.0   5504900.0  8897900.0
2020-05-13  9666100.0  3445300.0  10681600.0  7166300.0

[846 rows x 480 columns]

In [8]:
stock['Date'] = stock.index
stock.head()

Attributes  Adj Close                                                  \
Symbols          MSFT        AAPL        AMZN          FB       GOOGL
Date
2017-01-03  58.969059  110.392334  753.669983  116.860001  808.010010
2017-01-04  58.705212  110.268791  757.179993  118.690002  807.770020
2017-01-05  58.705212  110.829552  780.450012  120.669998  813.020020
2017-01-06  59.214054  112.065109  795.989990  123.410004  825.210022
2017-01-09  59.025597  113.091560  796.919983  124.900002  827.179993

Attributes                                                           ...  \
Symbols           GOOG         JNJ          V         PG        JPM  ...
Date                                                                 ...
2017-01-03  786.140015  106.233673  77.675957  75.750793  79.052376  ...
2017-01-04  786.900024  106.059433  78.311043  76.020676  79.198174  ...
2017-01-05  794.020020  107.169075  79.229477  76.524467  78.469170  ...
2017-01-06  806.150024  106.655518  80.323792  76.497482  78.478271  ...
2017-01-09  806.650024  106.637184  79.874336  75.930710  78.532944  ...

Attributes    Volume                                                       \
Symbols         EQIX         CL        TJX      BKNG        TGT       BLK
Date
2017-01-03  411500.0  3038900.0  7643000.0  458500.0  3907100.0  743900.0
2017-01-04  644300.0  4047900.0  6695400.0  387700.0  5316200.0  680800.0
2017-01-05  492900.0  2857800.0  9958600.0  447500.0  7096300.0  468400.0
2017-01-06  458400.0  2994800.0  6947400.0  473400.0  5235100.0  453400.0
2017-01-09  568300.0  3184000.0  6437600.0  397500.0  3814300.0  505300.0

Attributes                                        Date
Symbols            GS        AXP         SO
Date
2017-01-03  4384200.0  5853900.0  3974400.0 2017-01-03
2017-01-04  2728700.0  4635800.0  3864000.0 2017-01-04
2017-01-05  3562600.0  3383000.0  4844400.0 2017-01-05
2017-01-06  3591100.0  3089600.0  4800200.0 2017-01-06
2017-01-09  3022800.0  4818700.0  4271400.0 2017-01-09

[5 rows x 481 columns]

In [9]:
stock.to_csv(r"C:\Users\Ryan\Desktop\UCI\Spring Quarter\NLP\Final Project\data\Company_Stock_Price.csv", index = None, header = True)